.form, .field{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"], 
.form select{
    padding: 2rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}
.form select option {
    color: black;
    background-color: var(--white);
}
.field ::placeholder{
    color: var(--white)
}
.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor:pointer;
    padding: 1rem;
}